* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.timer {
  margin-top: 15px;
  max-width: 200px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.field {
  background-color: rgba(211, 211, 211, 0.35);
}

.value {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid gray;
}

.label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}